{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="customer" data-field="code">Code</th>
            <th data-group="customer" data-field="name">Name</th>
            <th data-group="customer" data-field="company">Company</th>
            <th data-group="customer" data-field="address">Address</th>
            <th data-group="customer" data-field="phone">Phone</th>
            <th data-group="customer" data-field="fax">Fax</th>
            <th data-group="customer" data-field="email">Email</th>
            <th data-group="customer" data-field="taxNumber">Tax Number</th>
            <th data-group="customer" data-field="note">Note</th>
            <th data-group="customer" data-field="isActive">Is Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for customer in grid.data %}
            <tr data-field-id="{{ customer.id }}">
                <td class="text-left">{{ customer.code|default }}</td>
                <td class="text-left">{{ customer.name|default }}</td>
                <td class="text-left">{{ customer.company|default }}</td>
                <td class="text-left">{{ customer.address|default }}</td>
                <td class="text-left">{{ customer.phone|default }}</td>
                <td class="text-left">{{ customer.fax|default }}</td>
                <td class="text-left">{{ customer.email|default }}</td>
                <td class="text-left">{{ customer.taxNumber|default }}</td>
                <td class="text-left">{{ customer.note|default }}</td>
                <td class="text-left">{{ customer.isActive|default ? 'Yes' : 'No' }}</td>
                <td class="text-left">
                    {{ include('master/actions.html.twig', {
                        'contents': {
                            '{index}': null,
                            '{new}': null,
                            '{show}': include('action.html.twig', {'url': path('master_customer_show', {'id': customer.id}), 'button': 'btn btn-info btn-sm', 'icon': 'glyphicon glyphicon-info-sign'}),
                            '{edit}': include('action.html.twig', {'url': path('master_customer_edit', {'id': customer.id}), 'button': 'btn btn-warning btn-sm', 'icon': 'glyphicon glyphicon-edit'}),
                            '{delete}': include('action.html.twig', {'url': path('master_customer_delete', {'id': customer.id}), 'button': 'btn btn-danger btn-sm', 'icon': 'glyphicon glyphicon-remove'}),
                        }
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}
