{% extends 'default/layout.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block actions %}
    <a class="btn btn-info" href="{{ path('admin_default_profile_show', { 'id': user.id }) }}">
        <span class="glyphicon glyphicon-info-sign"></span> Show Profile
    </a>
    <a class="btn btn-warning" href="{{ path('admin_default_profile_edit', { 'id': user.id }) }}">
        <span class="glyphicon glyphicon-edit"></span> Edit Profile
    </a>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.newPassword) }}
        <input class="btn btn-primary" type="submit" value="Change" />
    {{ form_end(form) }}
{% endblock %}
