<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | My Company</title>
        {% block stylesheets_include %}
            <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('../vendor/eonasdan/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('../app/Resources/public/css/custom.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts_include %}
            <script src="{{ asset('../vendor/twbs/bootstrap/js/tests/vendor/jquery.min.js') }}"></script>
            <script src="{{ asset('../vendor/twbs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('../vendor/moment/moment/min/moment.min.js') }}"></script>
            <script src="{{ asset('../vendor/eonasdan/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('../app/Resources/public/js/custom.js') }}"></script>
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
