{% set grid_layout = 'datagrid.html.twig' %}

<div class="hidden-print">
    {{ grid_top(grid) }}
    <div class="text-center">
        <button type="button" class="btn btn-info btn-sm" id="export">Export</button>
    </div>
    <hr />
</div>

<div class="report">
    <div class="report-header">
        <div class="report-title">PT. Trio Prima</div>
        <div class="report-title">Laporan Pembelian Tanda Terima</div>
        <div>
            {% set startDate = grid.searchVals['purchaseReceiptHeader']['transactionDate'][1]|default %}
            {% set endDate = grid.searchVals['purchaseReceiptHeader']['transactionDate'][2]|default %}
            {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
        </div>
    </div>

    <br />

    <table class="report-data">
        <thead class="border-top-solid-bold border-bottom-solid-bold">
            <tr>
                <th class="text-center">Tanda Terima #</th>
                <th class="text-center">Tanggal</th>
                <th class="text-center">Supplier</th>
                <th class="text-center">Note</th>
            </tr>
            <tr>
                <td colspan="4">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-center">Invoice #</th>
                                <th class="text-center">Tanggal</th>
                                <th class="text-center">Memo</th>
                                <th class="text-center">Grand Total</th>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
        </thead>
        <tbody class="border-top-solid-bold border-bottom-solid-bold">
            {% for purchaseReceiptHeader in grid.data %}
                <tr data-field-id="{{ purchaseReceiptHeader.id }}">
                    <td class="text-left">{{ purchaseReceiptHeader.codeNumber|default }}</td>
                    <td class="text-left">{{ purchaseReceiptHeader.transactionDate|default ? purchaseReceiptHeader.transactionDate|date('j F Y') }}</td>
                    <td class="text-left">{{ purchaseReceiptHeader.supplier.company|default }}</td>
                    <td class="text-left">{{ purchaseReceiptHeader.note|default }}</td>
                </tr>
                <tr class="border-bottom-dotted-bold">
                    <td colspan="4">
                        <table>
                            <tbody>
                                {% for purchaseReceiptDetail in purchaseReceiptHeader.purchaseReceiptDetails %}
                                    <tr>
                                        <td class="text-left">{{ purchaseReceiptDetail.purchaseInvoiceHeader.codeNumber|default }}</td>
                                        <td class="text-left">{{ purchaseReceiptDetail.purchaseInvoiceHeader.transactionDate|default ? purchaseReceiptDetail.purchaseInvoiceHeader.transactionDate|date('j F Y') }}</td>
                                        <td class="text-left">{{ purchaseReceiptDetail.memo|default }}</td>
                                        <td class="text-right">{{ purchaseReceiptDetail.purchaseInvoiceHeader.grandTotalBeforeDownpayment|default|number_format(2) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="hidden-print">
    <br />
    {{ grid_bottom(grid) }}
</div>

<script>
    jQuery(function($) {
        $("#export").click(function() {
            var url = "{{ path('report_purchase_receipt_header_export') }}";
            var data = {{ grid.params|json_encode|raw }};
            $.redirect(url, data);
        });
    });
</script>
