{% extends 'transaction/layout.html.twig' %}

{% import _self as self %}

{% macro details_row(object) %}
    <tr data-index="{{ object.vars.name }}">
        <td class="hide">
            {{ form_row(object.account, {'label': false}) }}
        </td>
        <td>
            <span id="account-code-{{ object.vars.name }}">{{ object.vars.value.account.code|default }}</span>
        </td>
        <td>
            <span id="account-name-{{ object.vars.name }}">{{ object.vars.value.account.name|default }}</span>
        </td>
        <td>
            {{ form_row(object.debit, {'label': false, 'attr': {'class': 'bind-debit-class'} }) }}
        </td>
        <td>
            {{ form_row(object.credit, {'label': false, 'attr': {'class': 'bind-credit-class'} }) }}
        </td>
        <td>
            {{ form_row(object.memo, {'label': false}) }}
        </td>
        <td>
            <button type="button" class="btn btn-info remove">Delete</button>
        </td>
    </tr>
{% endmacro %}

{% block content %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                <label>Code Number</label>
                <div class="form-group">{{ journalVoucherHeader.codeNumber }}</div>
                
                {{ form_row(form.transactionDate, {'label': 'Tanggal'}) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.note) }}
            </div>
        </div>
            
        <hr />
        
        <div>
            <button type="button" class="btn btn-default" id="add" data-toggle="modal" data-target="#account-dialog">Add Detail</button>
        </div>
        
        <br />
        
        <table class="table table-bordered" id="detail-list">
            <thead>
                <tr class="bg-info">
                    <th class="hide">Account</th>
                    <th>Account Code</th>
                    <th>Account Name</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Memo</th>
                    <th style="width: 0"></th>
                </tr>
            </thead>
            <tbody data-prototype="{{ self.details_row(form.journalVoucherDetails.vars.prototype)|e }}">
                {% for journalVoucherDetail in form.journalVoucherDetails %}
                    {{ self.details_row(journalVoucherDetail) }}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right" colspan="2">Total</td>
                    <td class="text-right"><span id="bind-totaldebit">{{ journalVoucherHeader.totalDebit|default|number_format(2) }}</span></td>
                    <td class="text-right"><span id="bind-totalcredit">{{ journalVoucherHeader.totalCredit|default|number_format(2) }}</span></td>
                    <td colspan="2"></td>
                </tr>
            </tfoot>
        </table>
        
        <input class="btn btn-primary" type="submit" value="Submit" data-confirm="Do you want to proceed?" />
    {{ form_end(form) }}
    
    <div id="account-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Account List</h4>
                </div>
                <div class="modal-body">
                    <div id="account-grid" data-grid="{{ path('common_account_grid') }}"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function($) {
            function bind() {
                $.ajax({
                    method: "POST",
                    url: "{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}",
                    data: $("form").serialize(),
                    dataType: "JSON",
                    success: function(data) {
                        $("#bind-totaldebit").text(data.totalDebit);
                        $("#bind-totalcredit").text(data.totalCredit);
                    }
                });
            }
            
            var table = $("table#detail-list");
            var tableBody = $("tbody", table);
            
            tableBody.on("change", ".bind-debit-class", function() {
                bind();
            });
            tableBody.on("change", ".bind-credit-class", function() {
                bind();
            });
            tableBody.on("click", "button.remove", function() {
                $(this).closest("tr").remove();
                bind();
            });
            $("#account-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#account-dialog").modal("hide");
                var context = $(this);
                var name = "{{ form.journalVoucherDetails.vars.prototype.vars.name }}";
                var rows = tableBody.children("tr");
                var index = Math.max({{ journalVoucherDetailsCount }}, (rows.length > 0) ? parseInt(rows.last().attr("data-index")) + 1 : 0);
                tableBody.appendByPrototype(tableBody.attr("data-prototype"), name, index, function(prototype) {
                    var account = prototype.find("#{{ form. journalVoucherDetails.vars.prototype.account.vars.id }}");
                    account.val(context.attr("data-field-id"));
                    var accountCode = prototype.find("#account-code-" + name);
                    accountCode.text(context.attr("data-field-code"));
                    var accountName = prototype.find("#account-name-" + name);
                    accountName.text(context.attr("data-field-name"));
                });
            });
        });
    </script>
{% endblock %}
