{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Deposit Header' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Code Number</th>
                <td>{{ depositHeader.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ depositHeader.transactionDate|default ? depositHeader.transactionDate|date('j F Y') }}</td>
            </tr>
            <tr>
                <th>Account</th>
                <td>{{ depositHeader.account.name|default }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ depositHeader.note|default }}</td>
            </tr>
        </tbody>
    </table>
                
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Account Code</th>
                <th>Account Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Memo</th>
            </tr>
        </thead>
        <tbody>
            {% for depositDetail in depositHeader.depositDetails %}
                <tr>
                    <td>{{ depositDetail.account.code|default }}</td>
                    <td>{{ depositDetail.account.name|default }}</td>
                    <td>{{ depositDetail.description|default }}</td>
                    <td class="text-right">{{ depositDetail.amount|default|number_format(2) }}</td>
                    <td>{{ depositDetail.memo|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="3"><strong>Total</strong></td>
                <td class="text-right"><strong>{{ depositHeader.totalAmount|default|number_format(2) }}</strong></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
