{% set grid_layout = 'datagrid.html.twig' %}

<div class="hidden-print">
    {{ grid_top(grid) }}
    {#<div class="text-center">
        <button type="button" class="btn btn-info btn-sm" id="export">Export</button>
    </div>#}
    <hr />
</div>

<div class="report">
    <div class="report-header">
        <div class="report-title">PT. Bypassindo Jaya Indah</div>
        <div class="report-title">Laporan Neraca</div>
        <div>
            {% set endDate = grid.searchVals['journalLedgers']['transactionDate'][1]|default %}
            {{ endDate ? endDate|date('j F Y') }}
        </div>
    </div>

    <br />
    
    <div class="report-data">
        {% set lastCode = '' %}
        {% set categoryName = '' %}
        {% set totalSum = 0 %}
        {% set balanceSheetAmount = 0 %}
        {% for index, item in grid.data %}
            {% if lastCode != item['account_category_code'] %}
                {% if lastCode != '' %}
                    <div class="row">
                        <div class="font-weight-bold padding-left-2">Total {{ categoryName }}</div>
                        <div class="font-weight-bold border-top-solid-normal">{{ totalSum|number_format(2) }}</div>
                    </div>
                    {% set balanceSheetAmount = balanceSheetAmount + totalSum %}
                {% endif %}
                {% set categoryName = item['account_category_name'] %}
                {% set totalSum = 0 %}
                {% if lastCode|slice(0, 1) == '1' and item['account_category_code']|slice(0, 1) == '2' %}
                    <div class="row text-larger">
                        <div class="font-weight-bold padding-row-1 padding-left-0 text-right">AKTIVA</div>
                        <div class="font-weight-bold padding-row-1 border-n text-underline">{{ balanceSheetAmount|number_format(2) }}</div>
                    </div>
                    {% set balanceSheetAmount = 0 %}
                {% endif %}
                <div class="row">
                    <div class="font-weight-normal padding-left-0">{{ categoryName }}</div>
                    <div class="font-weight-normal"></div>
                </div>
            {% endif %}
            <div class="row">
                <div class="font-weight-normal padding-left-1">{{ item['account_name'] }}</div>
                <div class="font-weight-normal">{{ item['total']|number_format(2) }}</div>
            </div>
            {% set totalSum = totalSum + item['total'] %}
            {% set lastCode = item['account_category_code'] %}
        {% endfor %}
        <div class="row">
            <div class="font-weight-bold padding-left-2">Total {{ categoryName }}</div>
            <div class="font-weight-bold border-top-solid-normal">{{ totalSum|number_format(2) }}</div>
        </div>
        {% set balanceSheetAmount = balanceSheetAmount + totalSum %}
        <div class="row text-larger">
            <div class="font-weight-bold padding-row-1 padding-left-0 text-right">PASIVA</div>
            <div class="font-weight-bold padding-row-1 border-n text-underline">{{ balanceSheetAmount|number_format(2) }}</div>
        </div>
    </div>
</div>

<div class="hidden-print">
    <br />
    {{ grid_bottom(grid) }}
</div>
{#
<script>
    jQuery(function($) {
        $("#export").click(function() {
            var url = "{{ path('report_account_journal_ledger_export') }}";
            var data = {{ grid.params|json_encode|raw }};
            $.redirect(url, data);
        });
    });
</script> #}