{% extends 'transaction/layout.html.twig' %}

{% import _self as self %}

{% macro details_row(object) %}
    <tr data-index="{{ object.vars.name }}">
        <td class="hide">
            {{ form_row(object.product, {'label': false}) }}
        </td>
        <td>
            {{ form_row(object.productName, {'label': false}) }}
        </td>
        <td>
            <span id="product-size-{{ object.vars.name }}">{{ object.vars.value.product.size|default }}</span>
        </td>
        <td>
            <span id="product-brandname-{{ object.vars.name }}">{{ object.vars.value.product.brand.name|default }}</span>
        </td>
        <td>
            {{ form_row(object.quantity, {'label': false, 'attr': {'class': 'bind-quantity-class'} }) }}
        </td>
        <td>
            {{ form_row(object.unitPrice, {'label': false, 'attr': {'class': 'bind-price-class'} }) }}
        </td>
        <td>
            {{ form_row(object.discount, {'label': false, 'attr': {'class': 'bind-discount-class'} }) }}
        </td>
        <td class="text-right">
            <span id="bind-total-detail-{{ object.vars.name }}">{{ object.vars.value.total|default|number_format(2) }}</span>
        </td>
        <td>
            <button type="button" class="btn btn-info remove">Delete</button>
        </td>
    </tr>
{% endmacro %}

{% block content %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.codeNumberOrdinal, {'label': 'Invoice #'}) }}
                {{ form_row(form.transactionDate, {'label': 'Tanggal'}) }}
                {{ form_row(form.note) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.customer, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#customer-dialog'} }) }}
                <div class="form-group" id="customer-company">{{ saleInvoiceHeader.customer.company|default }}</div>
                {{ form_row(form.customerInvoice, {'label': 'Customer PO'}) }}
            </div>
        </div>
            
        <hr />
        
        <div>
            <button type="button" class="btn btn-default" id="add" data-toggle="modal" data-target="#product-dialog">Add Detail</button>
        </div>
        
        <br />
        
        <table class="table table-bordered" id="detail-list">
            <thead>
                <tr class="bg-info">
                    <th class="hide">Product</th>
                    <th>Product Name</th>
                    <th>Size</th>
                    <th>Brand</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th style="width: 0"></th>
                </tr>
            </thead>
            <tbody data-prototype="{{ self.details_row(form.saleInvoiceDetails.vars.prototype)|e }}">
                {% for saleInvoiceDetail in form.saleInvoiceDetails %}
                    {{ self.details_row(saleInvoiceDetail) }}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right" colspan="6">Sub Total</td>
                    <td class="text-right"><span id="bind-subtotal">{{ saleInvoiceHeader.subTotal|default|number_format(2) }}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="6">
                        <span style="display: inline-block">Discount</span>
                        <span style="display: inline-block">{{ form_widget(form.discountType) }}{{ form_errors(form.discountType) }}</span>
                    </td>
                    <td>{{ form_widget(form.discountValue) }}{{ form_errors(form.discountValue) }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="6">
                        <span style="display: inline-block">PPn 10%</span>
                        <span style="display: inline-block">{{ form_row(form.isTax, {'label': false}) }}</span>
                    </td>
                    <td class="text-right"><span id="bind-tax-nominal">{{ saleInvoiceHeader.taxNominal|default|number_format(2) }}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="6">Ongkos Kirim</td>
                    <td>{{ form_widget(form.shippingFee) }}{{ form_errors(form.shippingFee) }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="6">Grand Total</td>
                    <td class="text-right"><span id="bind-grandtotal-before">{{ saleInvoiceHeader.grandTotalBeforeDownpayment|default|number_format(2) }}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="6">
                        <span style="display: inline-block">Down Payment</span>
                        <span style="display: inline-block">{{ form_widget(form.downpaymentType) }}{{ form_errors(form.downpaymentType) }}</span>
                    </td>
                    <td>{{ form_widget(form.downpaymentValue) }}{{ form_errors(form.downpaymentValue) }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="6">Grand Total</td>
                    <td class="text-right"><span id="bind-grandtotal-after">{{ saleInvoiceHeader.grandTotalAfterDownpayment|default|number_format(2) }}</span></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        
        <input class="btn btn-primary" type="submit" value="Submit" data-confirm="Do you want to proceed?" />
    {{ form_end(form) }}
    
    <div id="customer-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Customer List</h4>
                </div>
                <div class="modal-body">
                    <div id="customer-grid" data-grid="{{ path('common_customer_grid') }}"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="product-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style="width: 90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Product List</h4>
                </div>
                <div class="modal-body">
                    <div id="product-grid" data-grid="{{ path('common_product_grid') }}"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function($) {
            function bind() {
                $.ajax({
                    method: "POST",
                    url: "{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}",
                    data: $("form").serialize(),
                    dataType: "JSON",
                    success: function(data) {
                        $.each(data.saleInvoiceDetails, function(index, saleInvoiceDetail) {
                            $("#bind-total-detail-" + index).text(saleInvoiceDetail.total);
                        });
                        $("#bind-subtotal").text(data.subTotal);
                        $("#bind-tax-nominal").text(data.taxNominal);
                        $("#bind-grandtotal-before").text(data.grandTotalBeforeDownpayment);
                        $("#bind-grandtotal-after").text(data.grandTotalAfterDownpayment);
                    }
                });
            }
            
            var table = $("table#detail-list");
            var tableBody = $("tbody", table);
            
            $("#{{ form.isTax.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.discountType.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.discountValue.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.downpaymentType.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.downpaymentValue.vars.id }}").on("change", function() {
                bind();
            });
            $("#{{ form.shippingFee.vars.id }}").on("change", function() {
                bind();
            });
            tableBody.on("change", ".bind-quantity-class", function() {
                bind();
            });
            tableBody.on("change", ".bind-price-class", function() {
                bind();
            });
            tableBody.on("change", ".bind-discount-class", function() {
                bind();
            });
            tableBody.on("click", "button.remove", function() {
                $(this).closest("tr").remove();
                bind();
            });
            $("#customer-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#customer-dialog").modal("hide");
                $("#{{ form.customer.vars.id }}").val($(this).attr("data-field-id"));
                $("#customer-company").text($(this).attr("data-field-company"));
            });
            $("#product-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#product-dialog").modal("hide");
                var context = $(this);
                var name = "{{ form.saleInvoiceDetails.vars.prototype.vars.name }}";
                var rows = tableBody.children("tr");
                var index = Math.max({{ saleInvoiceDetailsCount }}, (rows.length > 0) ? parseInt(rows.last().attr("data-index")) + 1 : 0);
                tableBody.appendByPrototype(tableBody.attr("data-prototype"), name, index, function(prototype) {
                    var product = prototype.find("#{{ form.saleInvoiceDetails.vars.prototype.product.vars.id }}");
                    product.val(context.attr("data-field-id"));
                    var productName = prototype.find("#{{ form.saleInvoiceDetails.vars.prototype.productName.vars.id }}");
                    productName.attr("value", context.attr("data-field-name"));
                    var productSize = prototype.find("#product-size-" + name);
                    productSize.text(context.attr("data-field-size"));
                    var productBrandName = prototype.find("#product-brandname-" + name);
                    productBrandName.text(context.attr("data-field-brand-name"));
                });
            });
        });
    </script>
{% endblock %}
