{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Sale Payment Header' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Code Number</th>
                <td>{{ salePaymentHeader.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ salePaymentHeader.transactionDate|default ? salePaymentHeader.transactionDate|date('j F Y') }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ salePaymentHeader.customer.company|default }}</td>
            </tr>
            <tr>
                <th>Payment Type</th>
                <td>{{ salePaymentHeader.paymentType.name|default }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ salePaymentHeader.note|default }}</td>
            </tr>
        </tbody>
    </table>
                
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Invoice #</th>
                <th>Tanggal</th>
                <th>Faktur Pajak</th>
                <th>Grand Total</th>
                <th>Amount</th>
                <th>Memo</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for salePaymentDetail in salePaymentHeader.salePaymentDetails %}
                <tr>
                    <td>{{ salePaymentDetail.saleInvoiceHeader.codeNumber|default }}</td>
                    <td>{{ salePaymentDetail.saleInvoiceHeader.transactionDate|default ? salePaymentDetail.saleInvoiceHeader.transactionDate|date('j F Y') }}</td>
                    <td>{{ salePaymentDetail.saleInvoiceHeader.taxInvoiceCode|default }}</td>
                    <td class="text-right">{{ salePaymentDetail.saleInvoiceHeader.grandTotalBeforeDownpayment|default|number_format(2) }}</td>
                    <td class="text-right">{{ salePaymentDetail.amount|default|number_format(2) }}</td>
                    <td>{{ salePaymentDetail.memo|default }}</td>
                    <td>{{ salePaymentDetail.account.name|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="4"><strong>Total</strong></td>
                <td class="text-right"><strong>{{ salePaymentHeader.totalAmount|default|number_format(2) }}</strong></td>
                <td colspan="2"></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
