{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="accountCategory" data-field="code">Code</th>
            <th data-group="accountCategory" data-field="name">Name</th>
            <th data-group="accountCategory" data-field="isActive">Is Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for accountCategory in grid.data %}
            <tr data-field-id="{{ accountCategory.id }}">
                <td class="text-left">{{ accountCategory.code|default }}</td>
                <td class="text-left">{{ accountCategory.name|default }}</td>
                <td class="text-left">{{ accountCategory.isActive|default ? 'Yes' : 'No' }}</td>
                <td class="text-left">
                    {{ include('master/actions.html.twig', {
                        'contents': {
                            '{index}': null,
                            '{new}': null,
                            '{show}': include('action.html.twig', {'url': path('master_account_category_show', {'id': accountCategory.id}), 'button': 'btn btn-info btn-sm', 'icon': 'glyphicon glyphicon-info-sign'}),
                            '{edit}': include('action.html.twig', {'url': path('master_account_category_edit', {'id': accountCategory.id}), 'button': 'btn btn-warning btn-sm', 'icon': 'glyphicon glyphicon-edit'}),
                            '{delete}': include('action.html.twig', {'url': path('master_account_category_delete', {'id': accountCategory.id}), 'button': 'btn btn-danger btn-sm', 'icon': 'glyphicon glyphicon-remove'}),
                        }
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}
