{% extends 'master/layout.html.twig' %}

{% block title 'Manage Account Category' %}

{% block actions %}
    {{ include('master/actions.html.twig') }}
{% endblock %}

{% block content %}
    {% for type, flashes in app.session.flashBag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ flash.title }}</strong> {{ flash.message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div id="account-category-grid" data-grid="{{ path('master_account_category_grid') }}"></div>
{% endblock %}
